In [1]:
import pandas as pd

In [2]:
df_Valencia = pd.read_excel("datos/Partidos_del_Valencia.xlsx")
df_Valencia.head()

       Fecha   Equipo1  Score     Equipo2
0  21 May 22  Valencia  2 - 0       Celta
1  14 May 22  Espanyol  1 - 1    Valencia
2  10 May 22  Valencia  0 - 3  Real Betis
3  07 May 22  Athletic  0 - 0    Valencia
4  30 Abr 22  Valencia  1 - 1     Levante

In [3]:
df_Valencia['Fecha'] = df_Valencia['Fecha'].str.replace('Abr', 'Apr')
df_Valencia['Fecha'] = df_Valencia['Fecha'].str.replace('Ago', 'Aug')
df_Valencia['Fecha'] = df_Valencia['Fecha'].str.replace('Dic', 'Dec')
df_Valencia['Fecha'] = df_Valencia['Fecha'].str.replace('Ene', 'Jan')
df_Valencia.head()

       Fecha   Equipo1  Score     Equipo2
0  21 May 22  Valencia  2 - 0       Celta
1  14 May 22  Espanyol  1 - 1    Valencia
2  10 May 22  Valencia  0 - 3  Real Betis
3  07 May 22  Athletic  0 - 0    Valencia
4  30 Apr 22  Valencia  1 - 1     Levante

In [4]:
def add_result_column(df):
    result = []
    for index, row in df.iterrows():
        score = row["Score"]
        equipo1 = row["Equipo1"]
        equipo2 = row["Equipo2"]
        if "Valencia" in [equipo1, equipo2]:
            score1, score2 = map(int, score.split("-"))
            if equipo1 == "Valencia":
                if score1 > score2:
                    result.append("Ganó")
                elif score1 < score2:
                    result.append("Perdió")
                else:
                    result.append("Empató")
            else:
                if score2 > score1:
                    result.append("Ganó")
                elif score2 < score1:
                    result.append("Perdió")
                else:
                    result.append("Empató")
    df["Resultado"] = result
    return df

df_Valencia = add_result_column(df_Valencia)

In [5]:
df_Valencia["Fecha"] = pd.to_datetime(df_Valencia["Fecha"])
df_Valencia

         Fecha      Equipo1  Score     Equipo2 Resultado
0   2022-05-21     Valencia  2 - 0       Celta      Ganó
1   2022-05-14     Espanyol  1 - 1    Valencia    Empató
2   2022-05-10     Valencia  0 - 3  Real Betis    Perdió
3   2022-05-07     Athletic  0 - 0    Valencia    Empató
4   2022-04-30     Valencia  1 - 1     Levante    Empató
..         ...          ...    ...         ...       ...
831 2000-10-14   Villarreal  1 - 1    Valencia    Empató
832 2000-10-01     Valencia  5 - 1  Las Palmas      Ganó
833 2000-09-24     Numancia  0 - 3    Valencia      Ganó
834 2000-09-16     Valencia  4 - 0    Mallorca      Ganó
835 2000-09-09  Real Madrid  2 - 1    Valencia    Perdió

[836 rows x 5 columns]

In [6]:
df_Valencia["Score"].str.split(expand=True)

name = df_Valencia["Score"].str.split(expand=True)
name.columns = ['Goles_equipo1', "guion", 'Goles_equipo2']

df_Valen = pd.concat([df_Valencia, name], axis=1)
df_Valen

,Fecha,Equipo1,Score,Equipo2,Resultado,Goles_equipo1,guion,Goles_equipo2
0,2022-05-21,Valencia,2 - 0,Celta,Ganó,2,-,0
1,2022-05-14,Espanyol,1 - 1,Valencia,Empató,1,-,1
2,2022-05-10,Valencia,0 - 3,Real Betis,Perdió,0,-,3
3,2022-05-07,Athletic,0 - 0,Valencia,Empató,0,-,0
4,2022-04-30,Valencia,1 - 1,Levante,Empató,1,-,1
...,...,...,...,...,...,...,...,...
831,2000-10-14,Villarreal,1 - 1,Valencia,Empató,1,-,1
832,2000-10-01,Valencia,5 - 1,Las Palmas,Ganó,5,-,1
833,2000-09-24,Numancia,0 - 3,Valencia,Ganó,0,-,3
834,2000-09-16,Valencia,4 - 0,Mallorca,Ganó,4,-,0
835,2000-09-09,Real Madrid,2 - 1,Valencia,Perdió,2,-,1

In [7]:
df_Valen = df_Valen.drop(columns = ["guion"])
df_Valen["Goles_equipo1"] = df_Valen["Goles_equipo1"].astype(int)
df_Valen["Goles_equipo2"] = df_Valen["Goles_equipo2"].astype(int)

df_Valen

,Fecha,Equipo1,Score,Equipo2,Resultado,Goles_equipo1,Goles_equipo2
0,2022-05-21,Valencia,2 - 0,Celta,Ganó,2,0
1,2022-05-14,Espanyol,1 - 1,Valencia,Empató,1,1
2,2022-05-10,Valencia,0 - 3,Real Betis,Perdió,0,3
3,2022-05-07,Athletic,0 - 0,Valencia,Empató,0,0
4,2022-04-30,Valencia,1 - 1,Levante,Empató,1,1
...,...,...,...,...,...,...,...
831,2000-10-14,Villarreal,1 - 1,Valencia,Empató,1,1
832,2000-10-01,Valencia,5 - 1,Las Palmas,Ganó,5,1
833,2000-09-24,Numancia,0 - 3,Valencia,Ganó,0,3
834,2000-09-16,Valencia,4 - 0,Mallorca,Ganó,4,0
835,2000-09-09,Real Madrid,2 - 1,Valencia,Perdió,2,1

In [8]:
df_Valen["Diferencia_goles"] = abs(df_Valen["Goles_equipo1"] - df_Valen["Goles_equipo2"])
df_Valen

,Fecha,Equipo1,Score,Equipo2,Resultado,Goles_equipo1,Goles_equipo2,Diferencia_goles
0,2022-05-21,Valencia,2 - 0,Celta,Ganó,2,0,2
1,2022-05-14,Espanyol,1 - 1,Valencia,Empató,1,1,0
2,2022-05-10,Valencia,0 - 3,Real Betis,Perdió,0,3,3
3,2022-05-07,Athletic,0 - 0,Valencia,Empató,0,0,0
4,2022-04-30,Valencia,1 - 1,Levante,Empató,1,1,0
...,...,...,...,...,...,...,...,...
831,2000-10-14,Villarreal,1 - 1,Valencia,Empató,1,1,0
832,2000-10-01,Valencia,5 - 1,Las Palmas,Ganó,5,1,4
833,2000-09-24,Numancia,0 - 3,Valencia,Ganó,0,3,3
834,2000-09-16,Valencia,4 - 0,Mallorca,Ganó,4,0,4
835,2000-09-09,Real Madrid,2 - 1,Valencia,Perdió,2,1,1

In [9]:
df_Valen.to_csv("data/df_partidos_Valencia.csv", index=False)